.Home{
  /* background-color: aliceblue; */
}

.Home .Hero{
  text-align: center;
  height: 421px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Hero .Content{
}

.Hero h1 {
  letter-spacing: 0.6px;
  margin: 0;
  font-size: 60px;
  color: #F6404F;
  font-weight: 700;
}

.Hero p{
  padding-top: 10px;
  font-size: 30px;
  letter-spacing: 0.01em;
  font-weight: 200;
  margin: 0;
}